{% extends 'applications/common.html' %}

{% block content %}
	<div id="app">
		<p class="text-center h3 mb-4"> Заказчики</p>

[[selectedDate]]
		      <v-calendar></v-calendar>
      <v-date-picker v-model='selectedDate' />

 <br><br>
		 <v-calendar></v-calendar>
      <v-date-picker v-model='selectedDate' />


		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="новый заказчик" aria-label="новый заказчик"
			       aria-describedby="button-addon2" v-model="customer.name">
			<button class="btn" :class="{'btn-success': customer.title, 'btn-outline-secondary': !customer.title} "
			        type="button" id="button-addon2" v-on:click="if (customer.name) edit(customer)">ДОБАВИТЬ
			</button>
		</div>

		<div class="input-group input-group-sm mb-3">
			<span class="input-group-text" id="inputGroup-sizing-sm">Поиск:</span>
			<input type="text" class="form-control" placeholder="по наименованию или подписанту" aria-label="Строка поиска"
			       aria-describedby="Строка поиска" v-model="filter_title">
			<span class="input-group-text"><input class="me-2" type="checkbox"
			                                      v-model="filter_deleted"> скрыть удалленные</span>
		</div>

		<div v-for="(item,index) in customers_filtered">
			<div class="row m-0 text-center border-bottom pb-2 pt-2"
			     :class="{'text-secondary' :!item.active}">
				<div class="col-1 themed-grid-col  text-center   align-middle">[[zero(index+1,3)]]</div>

				<div class="col-7 themed-grid-col  text-start align-middle" v-if="customer.id-item.id">
					<span v-if="f_list.indexOf( item.id ) == -1" v-on:click="f_list.push(item.id)"><stp-plus></stp-plus></span>
					<span v-else v-on:click="f_list=f_list.filter(i=>(i!=item.id))"><stp-minus></stp-minus>	</span>


          <span   v-on:click="del_item(item)">
					   <stp-trash class="text-danger" v-if="item.active"> </stp-trash>
					   <stp-restore class="text-success" v-else> </stp-restore>
          </span>
          <span v-on:click="customer=item">  <stp-edit class="text-primary"></stp-edit></span>


					<a :href="'/customer/'+item.id"
					   class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
						<small class="ms-2">
						<b><i>[[item.name]]</i> </b>
						[[item.representative?(", подписант: "+item.representative):""]]
					</a>
</small>
				</div>
				<div class="col-11 themed-grid-col  text-start align-middle" v-else>

					<div class="input-group input-group-sm align-middle">
						<span v-on:click="if (customer.name) edit(customer)">  <stp-data-save class="mt-2 me-3 text-primary"></stp-data-save> </span>
						<input class="form-control me-2" v-model="customer.name" placeholder="Наименование"
						       aria-label="Наименование">
						<input class="form-control " v-model="customer.representative" placeholder="Подписант"
						       aria-label="Подписант">
					</div>
				</div>




			</div>
			<div v-if="f_list.indexOf( item.id ) != -1">
				<div class="row m-0 text-center pb-0 pt-0 h6">
					<div class="col-2 themed-grid-col text-start"></div>
					<div class="col-9 themed-grid-col text-start h6 border-bottom"><small>
						<a class="link-offset-2 link-underline link-underline-opacity-0" href="##">[добавить объект]</a></small>
					</div>
				</div>

				<div v-for="(facility,facility_index) in facilities_by_customer(item.id)"
				     class="row m-0 text-center pb-0 pt-0 h6"
				     :class="{'text-secondary' :!item.active}">

					<div class="col-2 themed-grid-col text-start"></div>
					<div class="col-9 themed-grid-col text-start h6 border-bottom"><small>[[index+1]].[[zero(facility_index+1,3)]]
						[[facility.title]], [[facility.address]] </small>
					</div>
				</div>
			</div>
		</div>
	</div>




{% endblock %}



{% block js %}

	<script src="/static/applications/js/customers.js"></script>


{% endblock %}