{% extends 'applications/common.html' %}

{% block content %}
	<div id="app">


		<!-- наименование  -->
		<div class="input-group mb-3">
			<span class="my-auto me-2" style="font-size: 1.3em;"><b>Объект:</b></span>
			<input v-model="facility.title"
			       class="form-control text-primary border-0 border-bottom" style="font-size: 2em;" placeholder="Объект"
			       aria-label="Объект"
			v-on:change="save()">
		</div>
		<div class="input-group mb-3" style="font-size: 1.2em;">
			<b class="me-3"> Заказчик: </b>"[[facility.customer_title]]"
		</div>

		<div class="row">
			<div class="col-lg-4">
				<!-- Номер от заказчика -->
				<div class="input-group mb-3">
					<span class="input-group-text"> <b>Номер от заказчика:</b></span>
					<input type="text" class="form-control form-control-sm" placeholder="номер" aria-label="номер"
					       v-model="facility.customer_number"
					v-on:change="save()">
				</div>
			</div>
			<div class="col-lg-8">
				<!-- Регион -->
				<div class="input-group mb-3">
					<span class="input-group-text"> <b>Регион:</b></span>
					<select type="text" class="form-control" placeholder="Регион" aria-label="Регион" v-model="facility.region" v-on:change="save()">
						<option v-for="region in regions" :value="region.id">[[region.title]]</option>
					</select>
				</div>

			</div>


		</div>


		<!-- Адрес -->
		<div class="input-group mb-3">
			<span class="input-group-text"><b>Адрес объекта:</b></span>
			<input type="text" class="form-control" placeholder="Адрес" aria-label="Адрес" v-model="facility.address" v-on:change="save()">
		</div>

		<div class="row">

			<div class="col-lg-4">
				<!-- Ответственный -->
				<div class="input-group mb-4">
					<span class="input-group-text"><b>Ответственный:</b></span>
					<select type="text" class="form-control" placeholder="Ответственный" aria-label="Ответственный"
					        v-model="facility.responsible" v-on:change="save()">
						<option v-for="user in users" :value="user.id">[[user.name]]</option>
					</select>
				</div>
			</div>
			<div class="col-lg-4">
				<!-- Дата открытия -->
				<v-date-picker v-model="openDate" :update-on-input="false" @dayclick="save()">
					<template v-slot="{ inputValue, inputEvents }">
						<div class="input-group mb-3">
							<span class="input-group-text"><b>Дата открытия:</b></span>
							<input

									class="form-control text-end"
									:value="inputValue"
									v-on="inputEvents"
							/>
							<span class="input-group-text">
								<button class="btn-close btn-outline-secondary" type="button" v-on:click="openDate=0; save()"></button>
							</span>
						</div>
					</template>
				</v-date-picker>
			</div>
			<div class="col-lg-4">
				<!-- Дата последнего обслуживания -->
				<v-date-picker v-model="lastServiceDate" :update-on-input="false" @dayclick="save()">
					<template v-slot="{ inputValue, inputEvents }">
						<div class="input-group mb-3">
							<span class="input-group-text"><b>Дата обслуживания:</b></span>
							<input
									class="form-control text-end"
									:value="inputValue"
									v-on="inputEvents"
							/>
							<span class="input-group-text">
								<button class="btn-close btn-outline-secondary" type="button" v-on:click="lastServiceDate=0; save()"></button>
							</span>
						</div>
					</template>
				</v-date-picker>
			</div>
		</div>

    <div v-if="facility.id">
		Фото:
		<div id="drop-area" @dragover.prevent @drop.prevent="handleDrop"
		     class="container-fluid mt-3 pt-2 pb-2"
		     style="background: #bbbbbb; min-height: 200px; max-height: 500px; overflow-y: auto;">
			<div class="row">
				<div v-for="img in imgs" class="col-md-4 mb-3">
					<div class="card border">
						<div class="card-header border-bottom d-flex justify-content-between">
							<h6 class="card-title text-muted text-truncate" style="max-width: 16em;">[[ img.name ]]</h6>
							<span v-on:click="img_del(img)" class="btn">
					   <stp-trash class="text-danger"> </stp-trash>

          </span>
							<!--button type="button" class="btn-close" aria-label="Close" v-on:click="img_del(img)"></button-->
						</div>
						<img :src="'/api/get_file/' + img.file" class="card-img-top" alt="Image" data-bs-toggle="modal"
						     :data-bs-target="'#imageModal' + img.file">
					</div>

					<!-- Модальное окно для каждой картинки -->
					<div :id="'imageModal' + img.file" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
					     aria-hidden="true">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">[[ img.name ]]</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<img :src="'/api/get_file/' + img.file" class="img-fluid" alt="Image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	</div>


{% endblock %}


{% block js %}
	<script src='https://unpkg.com/v-calendar'></script>
	<script src="/static/applications/js/facility.js"></script>

	</script>

{% endblock %}